* {
    box-sizing: border-box;
}
body{
    font-family: "Oxygen", "Ubuntu", "Roboto";
    padding: 0%;
    margin: 0%;
}
li{
    float: left;
}

a{
    text-decoration: none;
    padding: 8px;
    color: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 2rem;
    overflow: hidden; 
}

li a:hover{
    border-radius: 8px;
    background-color: rgb(196, 78, 78);
}
/* Header */
.nav-bar{
    margin-left: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
    background-color: #ffff;
    border-bottom: 1px solid #ebeff2;
}
.site-title{
    width: 100%;
    border-radius: 1rem;
}

.site-title a{
    align-content: left;
    color: #936c6c;
}

.links{
    justify-content: right;
    align-items: right;
}

/* Footer */
.footer-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-top: 1px solid #ebeff2;
    padding: 1em;
}
/* Responsive */
@media only screen and (max-width: 767px){
    .column {
        width: 100% !important;
    }
}