* {
    box-sizing: border-box;
}
body{
    font-family: "Oxygen", "Ubuntu", "Roboto";
    padding: 0%;
    margin: 0%;
}
li{
    float: left;
}

a{
    text-decoration: none;
    padding: 8px;
    color: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 2rem;
    overflow: hidden; 
}

li a:hover{
    border-radius: 8px;
    background-color: rgb(196, 78, 78);
}
img{
    border-radius: 25px;
    height: 200px;
    width: 400px;
}
/* Header */
.nav-bar{
    margin-left: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
    background-color: #ffff;
    border-bottom: 1px solid #ebeff2;
}
.site-title{
    width: 100%;
    border-radius: 1rem;
}

.site-title a{
    align-content: left;
    color: #936c6c;
}

.links{
    justify-content: right;
    align-items: right;
}
/* Body */
.home-body{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    background-image: url(../images/quest.jpg);
    background-size: cover;
}

.body-container{
    position: absolute; 
    top: 9em; 
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    width: 50%;
    color: #ffff; 
    padding: 20px; 
    border-radius: 8px;
    text-align: center;
}
/* Form-Body */
.login-signup-body{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    background-size: cover;
}
 /* Form */
 .signup-form-wrapper{
    border-radius: 8px;
    width: 25em;
    padding: 20px;
    background-color: rgb(196, 78, 78);
    border: solid 1px #D4D4D5;
    opacity: 0.9;
}
.form-field{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.form-field a{
    color: black;
}

.form-title{
    border-bottom: solid 1px #D4D4D5;
    padding: 10px;
}

.form-field > label {
    color: #8D99A6;
    font-weight: normal;
}

.form-header{
    background-color: #fafbfc;
    padding: .5em;
    border-right: #d1d8dd 1px solid;
    border-left: #d1d8dd 1px solid;
    border-bottom: #d1d8dd 1px solid;
    height: 50px;
    width: 100%;
}

/* Input */
input{
    border: 1px solid #ced5db;
    border-radius: 0.2em;
    padding: 0.5em;
}

input:read-only{
    background-color: #f5f7fa;
    outline: none;
    border: none;
}

.signup-login-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
/*Meetups*/
#position{
    text-align: center;
}
.column {
    float: left;
    width: 33.33%;
    padding: 20px;
    height: 85vh;
    text-align: justify;
    background-color: #f5f7fa;
    font-family: roboto;
}
.meetup:after {
    content: "";
    display: table;
    clear: both;
  }

/* Constants */
.container{
    width: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.primary{
    background-color: #7B68EE;
    color: white !important;
}
.fluid{
    width: 100%;
}
.text.center{
    text-align: center;
}
.brown{
    background-color: brown;
    color: white !important;
    padding: 0.5em;
    border-radius: 8px;
}
.green{
    background-color: #21ba45;
    color: white !important;
    padding: 0.7em;
    border-radius: 8px;
    margin: 1em;
    float:right;
}

/* Profile */
.profile{
    margin: 2em;
}
.avatar{
    height: 150px;
    width: 150px;
    background-image: url(../images/avatar.png);
}

/*Buttons*/
.button {
    border-radius: 8px;
    background-color:  brown;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px 0px;
    height: 3rem;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1.5rem;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
/* Questions */
#textarea {
    width: 60%;
    box-sizing: border-box;
    padding: 5px;
    column-count: auto;
    font-size: 15px;
}
.qsn {
    float: left;
    padding: 10px;
    height: 88vh;
    background-color: #f5f7fa;  
  }
  
  .left {
    width: 40%;
  }
  
  .right {
    width: 60%;
  }
  .question-column:after {
    content: "";
    display: table;
    clear: both;
  }
  
.upvote {
    display: inline-block;
    border: 0.36em solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    box-sizing: border-box;
    color: #066ff8;
}

.upvote:hover {
    border-color: rgb(13, 133, 245);
} 
/* downvote icon */

.downvote {
    display: inline-block;
    border: 0.36em solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    box-sizing: border-box;
    color: brown;
}

.downvote:hover {
    border-color: brown;
} 
/*Table*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
/* Modal Background*/
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
/* Footer */
.footer-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-top: 1px solid #ebeff2;
    padding: 1em;
}
/* Responsive */
@media only screen and (max-width: 767px){
    .column {
        width: 100% !important;
    }
}